/*GENERAL STYLES*/

html {
    font-size:15px;
}

body {
    max-width:375px;
}

h1 {
    font-family:'Big Shoulders Display', cursive;
    font-weight:700;
    text-transform:uppercase;
    color:white;
    font-size:2em;
}

p {
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    color:white;
    opacity:0.75;
}

#sedans {
    background-color: #e38826;
    padding:30px;
}

#sedans button {
    color:#e38826
}

#sedans button:hover {
    background-color: #e38826;
    color:white;
    border-color:white;
    border-style:solid;
}

#suvs {
    background-color: #006970;
    padding:30px;
}

#suvs button {
    color:#006970
}

#suvs button:hover {
    background-color: #006970;
    color:white;
    border-color:white;
    border-style:solid;
}

#luxury {
    background-color: #004241;
    padding:30px;
}

#luxury button {
    color:#004241;
}

#luxury button:hover {
    background-color: #004241;
    color:white;
    border-color:white;
    border-style:solid;
}

.attribution {
    display:none;
}

button {
    margin: 20px 0 20px 0;
    padding:10px;
    font-family:'Lexend Deca', sans-serif;
    background-color: white;
    border:none;
    border-radius:20px;
}



/*DESKTOP STYLES*/

@media screen and (min-width: 1200px) {

    body {
        max-width:1100px;
        display:flex;
        justify-content: center;
        flex-flow: row-reverse;
        
    }

    .car-profile{
        display:flex;
        width:30%;
    }


    
}

