/*GENERAL STYLES*/

html {
    font-size:15px;
}

h1 {
    font-family:'Big Shoulders Display', cursive;
    font-weight:700;
    text-transform:uppercase;
    color:white;
    font-size:2em;
}

p {
    font-family:'Lexend Deca', sans-serif;
    font-weight:400;
    color:white;
}

#sedans {
    background-color: #e38826;
    padding:20px;
}

#sedans button {
    color:#e38826
}

#suvs {
    background-color: #006970;
    padding:20px;
}

#suvs button {
    color:#006970
}

#luxury {
    background-color: #004241;
    padding:20px;
}

.attribution {
    display:none;
}

button {
    margin: 20px;
    padding:10px;
    font-family:'Lexend Deca', sans-serif;
    background-color: white;
    border:none;
    border-radius:20px;
}